<table class="table" id="productTable">
	<thead>
		<tr>
			<th>Product Name</th>
			<th>Product Category</th>
			<th></th>
		</tr>
	</thead>
</table>


@section Scripts{
	<script src="~/js/addProduct.js"></script>
}